<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <a routerLink="view" class="nav-item nav-link active">View Enrollee</a>
          <a routerLink="add" class="nav-item nav-link">Add Enrollee</a>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <div class="card">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>